<h1> Begin Task Deck </h1>

<p> Regular Deck </p>
<%= button_to "Create Deck of Cards", create_new_deck_decks_path, method: :post %> 

<p> Hearts </p> 
<%= button_to "Create Deck of Cards", create_new_deck_decks_path, method: :post %>

<p> Clubs</p>
<%= button_to "Create Deck of Cards", create_new_deck_decks_path, method: :post %> 

<p> Diamonds </p> 
<%= button_to "Create Deck of Cards", create_new_deck_decks_path, method: :post %> 

<p> Spades </p>
<%= button_to "Create Deck of Cards", create_new_deck_decks_path, method: :post %> 

